main{
    height: 1350px;
}
.main__topo{
    display: flex;
    width: 1136px;
}
.btForm{
    width: 164px;
    height: 51px;
    margin-top: 82px;
    color: #ffff;
    cursor: pointer;
}
.todos-diversos-item{
    margin-bottom: 50px;;
}