@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
main{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    width: 1440px;
    height: 1400px;
    display: flex;
    flex-direction: column;
   
}

.linhaProduto, .linhaConsole, .linhaDiversos, .linhaTodosProdutos, .linhaTodosConsoles, .linhaTodosDiversos{
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 306px;
    margin: 64px 152px;
    
}
.linhaProduto-topo, .linhaConsole-topo, .linhaDiversos-topo{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin: 16px 0px;
}
.linhaProduto-topo h1, .linhaConsole-topo h1, .linhaDiversos-topo h1{
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}
.linhaProduto-topo p, .linhaConsole-topo p, .linhaDiversos-topo p{
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}
.produto-item, .console-item, .diversos-item, .todos-produtos-item, .todos-consoles-item, .todos-diversos-item{
    display: flex; 
    justify-content: space-around;
    width: 1136px;
    height: 252px;
    margin: 16px 0px;
    color:#ffffff;
}
.item{
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 252px;
    margin: 0px 8px;
    
}
a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    margin: 0px 6px;
}
.item h1{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    padding-left: 8px;
}
.item h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    padding-left: 8px;
}









