main{
    display: flex;
    flex-direction: column;
    width: 1136px;
    margin: 64px 152px;
}
.main__topo{
    display: flex;
    justify-content: space-between;
    width: 1133px;
    height: 51px;
}
.main__topo--titulo{
    width: 300px;
    height: 38px;
    top: 6.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}
.lista{
    margin: 32px 0px;
}